.maincontainerHome {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    width: 90%;
    margin: auto;
margin-bottom: 5rem;
  }
  .maincontainerHome .allContent {
    width: 92%;
  height: 28.5rem;
    /* border: 1px solid red; */
    margin: auto;
    box-shadow: 5px 10px 18px #27AE60;
    transition: width 2s, height 4s;
  }
  .maincontainerHome .allContent:hover{
    width: 95%;
    height: 28rem;
  }
  .allContent .image {
    width: 100%;
    height: 15rem;
    /* border: 1px solid black; */
  }
  .maincontainerHome .allContent .priceAndfavourite {
    display: flex;
    padding: 10px;
    font-weight: bold;
    color: #27AE60;
    justify-content: space-between;
    
  }
  :hover.Heart-favourite{
    cursor: pointer;
  }
  .maincontainerHome .allContent h4 {
    text-align: start;
    margin-left: 10px;
  }
  .maincontainerHome .allContent p {
    height: 3rem;
    text-align: start;
    margin-left: 10px;
  }
  .details {
    display: flex;
    justify-content: space-between;
    border: 3px solid whitesmoke;
    padding: 7px;
  }


  @media screen and (max-width: 1040px) {
    .maincontainerHome {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 40px;
      width: 90%;
      margin: auto;
  
    }
}

@media screen and (max-width: 740px) {
  .maincontainerHome {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
    width: 90%;
    margin: auto;

  }

  }
  
